In [40]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.spatial.distance import pdist, squareform

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [11]:
df = pd.read_csv('../input/wine_data.csv')

In [12]:
df.head()

,Unnamed: 0,Type,Alcohol,Malic,Ash,Alcalinity,Magnesium,Phenols,Flavanoids,Nonflavanoids,Proanthocyanins,Color,Hue,Dilution,Proline
0,1,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,2,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,3,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,4,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,5,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [13]:
df = df.iloc[:, 2:]

In [14]:
df.head()

,Alcohol,Malic,Ash,Alcalinity,Magnesium,Phenols,Flavanoids,Nonflavanoids,Proanthocyanins,Color,Hue,Dilution,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [36]:
d = squareform(pdist(df[0:8], 'euclidean'))

In [39]:
pd.DataFrame(d.T)

,0,1,2,3,4,5,6,7
0,0.000000,31.265012,122.831154,415.245400,330.174500,385.295960,227.129474,230.091599
1,31.265012,0.000000,135.224693,430.251561,315.668800,400.210294,240.063413,245.984974
2,122.831154,135.224693,0.000000,295.262711,450.331053,265.256948,105.211462,111.827681
3,415.245400,430.251561,295.262711,0.000000,745.039443,30.091969,190.796230,185.204752
4,330.174500,315.668800,450.331053,745.039443,0.000000,715.054595,555.475848,560.020404
5,385.295960,400.210294,265.256948,30.091969,715.054595,0.000000,160.812137,155.296886
6,227.129474,240.063413,105.211462,190.796230,555.475848,160.812137,0.000000,25.686526
7,230.091599,245.984974,111.827681,185.204752,560.020404,155.296886,25.686526,0.000000